@charset "UTF-8";
#button-menu {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20vh;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(216, 150, 7);
}
#button-menu:hover, #button-menu:focus{
    outline: 0;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    background: var(--roxo1);
    && #Outlined > * {
        stroke: white;
    }
}
#button-menu__icon {
    height: 30px;
    width: 30px;
}
#Outlined > *{
    stroke: black;
    stroke-width: 2.5;
}

/* Responsividade */
@media (max-width: 500px){
    #button-menu {
        height: 40px;
        width: 40px;
        margin: 1% 2%;
    }
}
@media (max-width: 442px){  
    #button-menu {
        left: 2px;
    } 
}
@media (max-height: 589px){
    #button-menu {
        top: 22vh;
    }
}
@media (max-height: 489px){
    #button-menu {
        top: 100px;
    }
}
