@charset "UTF-8";
#button-menu--open {
    height: 4vh;
    min-height: 30px;
    width: 4vh;
    min-width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    border: 0;
    border-radius: 0 0px 5px 0;
    background-color: var(--verde3);
}
#button-menu--open:focus {
    outline: 2px solid var(--verde2);
    box-shadow: 0 0 20px var(--verde1);
}
#button-menu--open:hover {
    background-color: var(--verde1);
    & .btn-line {
        background-color: white;
    }
}
.button-menu--open__line{
    height: 2px;
    width: 20px;
    background-color: white;
}
#button-menu--open__line1{
    transform: translate(0px, 0px) rotate(40deg);
}
#button-menu--open__line2{
    transform: translate(0px, -4px) rotate(-40deg);
} 