@charset "UTF-8";

@media (max-width: 629px){
    nav > ul{
        width: 64%;
    }   
    
}
@media (max-width: 500px){
    header {
        background: linear-gradient(to right, var(--rosa4), var(--rosa4));
    }
}
@media (max-width: 372px){
    nav > ul{
        width: 70%;
    }
}
@media (max-width: 344px){
    nav > ul{
        width: 100%;
    }
    #word-break {
        display: block;
    }
}
@media (max-width: 103px){
    body {
        max-width: 98%;
    }
}
@media (max-height: 382px){
    #menu-lateral-box {
        margin-top: 50px;
    }
}
@media (max-height: 352px){
    #menu-lateral-box {
        margin-top: 52px;
    }
}